<% content_for :title do 'Dashboard' end %>

<div class="flex">
  <div id="dashboard"></div>

  <div class="panel-area">
    <a href="<%= options_path %>" class="panel-link">
      <i class="fa fa-cog"></i>
    </a>
  </div>
</div>

<% content_for :javascripts do %>
    <%= javascript_include_tag 'dashboard/dashboard' %>
<% end %>
