<% content_for :title do 'Dashboard' end %>

<div id="dashboard"></div>

<% content_for :javascripts do %>
    <%= javascript_include_tag 'dashboard/dashboard', 'data-turbolinks-track': true %>
<% end %>
