<header class="header">
  <div class="header-content">
    <a class="header-flex" href="<%= root_path %>">
      <%= image_tag 'saso.svg', class: 'header-logo', alt: 'Saso' %>

      <h1 class="header-title">
        Saso
      </h1>
    </a>

    <div class="header-spacer"></div>

    <a class="header-button-link" href="<%= login_path %>">
      <button class="header-button">
        Log <%# should we keep an extra space here? Dunno, let's spend millions
        of dollars and do a UX study! \o/ %>in</button>
    </a>
  </div>
</header>
