<% content_for :title do 'Login' end %>

<div class="login-box">
  <h1 class="login-title">Log in with</h1>

  <div class="login-button-row">
    <a class="login-button-link" href="/auth/google">
      <button class="login-button">Google</button>
    </a>

    <a class="login-button-link" href="/auth/github">
      <button class="login-button">GitHub</button>
    </a>

    <a class="login-button-link" href="/auth/facebook">
      <button class="login-button">Facebook</button>
    </a>

    <a class="login-button-link" href="/auth/digitalocean">
      <button class="login-button">DigitalOcean</button>
    </a>

    <a class="login-button-link" href="/auth/twitter">
      <button class="login-button">Twitter</button>
    </a>
  </div>

</div>
