* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@mixin content-container($max-width: 65em, $padding: 0.5em) {
  max-width: $max-width;
  margin: { right: auto; left: auto }
  padding: $padding;
}

.content-container {
  @include content-container;
}
